.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 72px 0;
}

.container h1{
  color: white;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}

.container p {
  color: #6B7B87;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 36px;
}

.imgContainer {
  width: 80dvw;
  height: 400px;
  flex-shrink: 0;
  border-radius: 16px;
  overflow: hidden;
  object-fit: cover;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .imgContainer {
    width: 90dvw;
  }
}