.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0F1620;
  height: fit-content;
  border: 1px solid #2F3845;
  border-radius: 30px;
  width: 720px;
  text-align: left;
  overflow: hidden;
  color: white;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoContainer {
  display: flex;
  gap: 24px;
  align-items: center;
  border-bottom: 1px solid #2F3845;
  padding: 20px;
}

.imgContainer {
  aspect-ratio: 1;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background-color: #2b2b34;
  flex-shrink: 0;
}

.img_limits {
  display: flex;
  aspect-ratio: 1;
  width: 5rem;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.textContainer h1 {
  color: white;
}

.textContainer p {
  color: #6B7B87;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardContainer {
  display: flex;
  gap: 32px;
  padding: 20px 72px;
}

.innerCardContainer {
  aspect-ratio: 1;
  width: 120px;
  display: flex;
  flex-direction: column;
  background-color: #0f1620;
  border: 1px solid #272f3b;
  color: white;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1rem !important;
}

.button {
  border: none;
  border-radius: 25px;
  background: #FF601A;
  color: white;
  display: flex;
  height: 40px;
  padding: 8px 19px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin: 25px 0;
}

@media (max-width: 800px) {
  .container {
    width: 99.5%;
  }

  .textContainer {
    width: 100%;
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
  }

  .innerCardContainer {
    width: 100px;
  }
}

@media (max-width: 500px) { 
  .imgContainer {
    display: none;
  }
}