.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  overflow: hidden;
  color: #333333;
}

.card {
  display: flex;
  box-sizing: border-box;
  width: 100dvw;
  background-color: #FF601A;
  padding: 50px;
  justify-content: space-evenly;
  z-index: 1;
}

.card h1 {
  color: white;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card p {
  color: white;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardContent {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-evenly;
}

.cardTextBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 48px;
  gap: 20px;
}

.textSectionCard {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px;
  gap: 24px;
  background-color: #101a28;
  border-radius: 100px;
  color: white;
}

.imageContainer {
  display: flex;
  aspect-ratio: 1;
  width: 25px;
  overflow: hidden;
  border-radius: 100px;
  background-color: #2f3845;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.imageContainer h1 {
  font-size: 36px;
  font-weight: 600;
}

.imageContainer img {
  width: 80%;
  height: 80%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.cardTemplateText {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.cardTemplateText p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #6B7B87;
}

.banner {
  position: relative;
  display: flex;
  width: 65dvw;
  height: 185px;
  border-radius: 24px;
  background: #020509;
  justify-content: space-between;
  background-image: url('../../images/imgs/sectio_02_banner_bg_01.png'); 
  background-size: cover;
  background-position: center;
  padding: 48px;
  box-sizing: border-box;
}

.banner h1 {
  color: white;
}

.banner a, span {
  color: #FF601A;
}

.banner a {
  position: absolute;
  right: 40px;
  bottom: 32px;
}

@media (max-width: 800px) {
  .card {
    align-items: center;
    text-align: center;  
    padding: 40px 40px;
    gap: 20px;
  }

  .card h1 {
    font-size: 25px;
    text-align: left;
  }

  .cardContent {
    width: 100%;
    align-items:flex-start;
  }

  .cardTextBox {
    width: 100px;
  }

  .cardTextBox h1 {
    font-size: 25px;
  }

  .cardTextBox p {
    font-size: 15px;
  }

  .textSection {
    padding: 25px;
  }

  .textSection h1 {
    font-size: 22px;
  }

  .textSection p {
    font-size: 14px;
  }

  .banner {
    width: 90dvw;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    background-position: left;
    padding: 20px;
  }

  .banner a {
    position: unset;
  }

  .card {
    z-index: 0;
  }
}

@media (max-width: 500px) {

  .card {
    flex-direction: column; 
    padding: 40px 5px;
  }

  .card h1 {
    font-size: 30px;
  }

  .cardTextBox h1 {
    font-size: 22px;
  }

  .cardTextBox p {
    font-size: 14px;
  }

  .textSection {
    padding: 25px;
  }
}

