.container {
  display: flex;
  width: calc(100dvw - 20px);
  padding-top: 90px;
  height: 100dvh;
  justify-content: center;
}

.textContainer {
  width: 50dvw;
  padding: 70px 0 0 80px;
  box-sizing: border-box;
}

.title {
  width: 80%;
  margin-top: 80px;
  margin-bottom: 24px;
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.description {
  width: 70%;
  margin-bottom: 46px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.link {
  margin-bottom: 72px;
  display: flex;
  color: #FF7A00;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.imgContainer {
  width: 40dvw;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}

.imgContainer img {
  width: auto;
  height: 88dvh;
  border-radius: 0 0 40px 0;
  object-fit: cover;
}

@media (max-width: 800px) {
  .container {
    width: 100dvw;
    border: 1px solid lime;
    padding: top;
  }

  .content {
    border: 1px solid lime;
  }

  .textContainer {
    width: 80dvw;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .title {
    margin-top: 0;
    width: 90%;
    font-size: 40px;
  }

  .scroller {
    width: 265px;
    border: 1px solid lime;
  }

  .imgContainer {
    display: none;
  }
}

@media (max-width: 500px) {

}