.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 260px;
  padding: 20px;
  border-radius: 25px;
  background-color: #0f1620;
  border: 1px solid #29323f;
}

.images {
  width: 40px;
  margin-bottom: 30px;
  object-fit: cover;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  color: white;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  width: 90%;
  padding: 8px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  gap: 5px;
  background-color: transparent;
  border: 1px solid #29323f;
  border-radius: 25px;
  transition: border 0.5s ease-in-out;
  color: white;
  font-size: 15px;
}

.button:hover {
  border: 1px solid #ff601a;
}