.container {
  display: flex;
  padding: 3.25rem 3.5rem;
  align-items: center;
  justify-content: center;
  background-color: #f5f6fa;
  width: 80dvw;
  border-radius: 2rem;
  box-sizing: border-box;
  gap: 3rem;
}

.container h1 {
  color: #333;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 25rem;
  flex-shrink: 0;
}

.slider {
  width: 60%;
  height: fit-content;
}

.container_cards_img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.9375rem;
  border: 1px solid #FF7B41;
  aspect-ratio: 1;
  width: 8.8125rem;
}

.container_cards_img img {
  width: 50%;
  height: 50%;
  object-fit:contain;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    gap: 2rem;
    width: 90dvw;
    text-align: center;
    align-self: center;
  }

  .container h1 {
    width: 17rem;
    font-size: 1.7rem;
  }

  .slider {
    width: 22rem;
  }

  .container_text {
    text-align: center;
  }

  .container_cards {
    align-items: center;
    justify-content: center;
  }

  .container_cards_img {
    border-radius: 2rem;
    width: 8rem;
  }
}


@media (max-width: 500px) {
  .slider {
    width: 8.2rem;
  }
}