.form {
  display: flex;
  width: 80dvw;
  background-color: #f5f6fa;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 62px;
}

.form input {
  width: 100%;
  height: 45px;
  border-radius: 30px;
  padding: 14px 10px;
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.form input:focus {
  outline: none;
}

.form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px white inset;
}

.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus,
.form input:-webkit-autofill:active {
  -webkit-text-fill-color: #333 !important;
}

.formText {
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  flex: 1;
  align-items: center;
}

.formText h1 {
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
}

.formText textarea {
  width: 55%;
  height: 128px;
  border: 1px solid #d0d5dd;
  border-radius: 12px;
  padding: 14px 10px;
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.formText textarea:focus {
  outline: none;
}

.formText button {
  display: flex;
  width: 55%;
  height: 40px;
  padding: 8px 19px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: #FF601A;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat;
}

.inputs {
  display: flex;
  width: 55%;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.inputContent {
  display: flex;
  height: 45px;
  border: 1px solid #d0d5dd;
  border-radius: 30px;
  padding: 14px 10px;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
  background-color: white;
}

.inputContent input {
  border: none;
  background-color: transparent;
}

.inputContent select {
  border: none;
}

@media (max-width: 800px) {
  .form {
    flex-direction: column;
    box-sizing: border-box;
    width: 90dvw;
    gap: 10px;
  }

  .form img {
    object-fit: cover;
    width: 100%;
    height: 300px;
  }

  .formText {
    align-items: center;
  }

  .formText textarea {
    width: 85%;
  }

  .inputs {
    width: 85%;
  }
}

@media (max-width: 800px) {
  .form {
    box-sizing: border-box;
    width: 90dvw;
    padding: 20px;
  }

  .form img {
    display: none;
  }

  .formText {
    padding: 48px 20px;
    align-items: center;
  }

  .formText textarea {
    width: 100%;
  }
  
  .formText button {
    width: 100%;
  }

  .inputs {
    width: 100%;
  }
}