.container {
  aspect-ratio: 1;
  width: 4rem;
  background-color: #40c351;
  position: fixed;
  bottom: 3.5rem;
  right: 3.5rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button img {
  width: 65%;
  height: 65%;
  object-fit: contain;
}

@media (max-width: 800px) {
  .container {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}